* text=auto

*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.sh text eol=lf

.husky export-ignore
.prettierignore export-ignore
.prettierrc export-ignore
.editorconfig export-ignore
*.eslintrc export-ignore
.eslintignore export-ignore
tests export-ignore
*.md export-ignore
*.example export-ignore